<div id="content" class="profile">
    <div class="profile_menu">
        <ul>
            <li><a href="/%pname_profile_view%.html"><i class="fa fa-user"></i><span>Min profil</span></a></li>
            <li><a href="/%pname_profile_update%.html"><i class="fa fa-edit"></i><span>Endre profil</span></a></li>
            <li><a href="/%pname_profile_settings%.html"><i class="fa fa-gear"></i><span>Innstillinger</span></a></li>
            <li><a href="/?logout"><i class="fa fa-unlock"></i><span>Logg ut</span></a></li>
        </ul>
    </div><div class="profile_content">
        <h2>Innstillinger</h2>
        <table>
            <tbody>
                <tr>
                    <td>Vis meg som anonym når jeg er aktiv et sted</td>
                    <td><input type="checkbox" name="anynomous_active" checked="checked" /></td>
                </tr><tr>
                    <td>Vis meg som anonym i chatten</td>
                    <td><input type="checkbox" name="anynomous_chat" checked="checked" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>