<div id="content" class="profile">
    <div class="profile_menu">
        <ul>
            <li><a href="/%pname_profile_view%.html"><i class="fa fa-user"></i><span>Min profil</span></a></li>
            <li><a href="/%pname_profile_update%.html"><i class="fa fa-edit"></i><span>Endre profil</span></a></li>
            <li><a href="/%pname_profile_settings%.html"><i class="fa fa-gear"></i><span>Innstillinger</span></a></li>
        </ul>
    </div><div class="profile_content">
        <h2>Endre profil</h2>
        <form action="" method="POST"><table>
            <tbody>
                <tr>
                    <td><span>Brukernavn</span></td>
                    <td><input type="text" name="username" value="%user_username%" /></td>
                </tr><tr>
                    <td><span>Fornavn</span></td>
                    <td><input type="text" name="firstname" value="%user_firstname%" /></td>
                </tr><tr>
                    <td><span>Etternavn</span></td>
                    <td><input type="text" name="lastname" value="%user_lastname%" /></td>
                </tr><tr>
                    <td><span>Epost</span></td>
                    <td><input type="text" name="email" value="%user_email%" /></td>
                </tr><tr>
                    <td></td>
                    <td><button>Lagre</button></td>
                </tr>
            </tbody>
        </table></form>
    </div>
</div>
