<div id="content" class="profile">
    <div class="profile_content">
        <h2>Min profil</h2>
        <form action="" method="POST"><table>
            <tbody>
                <tr>
                    <td><span>Ble medlem</span></td>
                    <td>%user_registered%</td>
                </tr><tr>
                    <td><span>Brukernavn</span></td>
                    <td><input type="text" name="username" value="%user_username%" /></td>
                </tr><tr>
                    <td><span>Fornavn</span></td>
                    <td><input type="text" name="firstname" value="%user_firstname%" /></td>
                </tr><tr>
                    <td><span>Etternavn</span></td>
                    <td><input type="text" name="lastname" value="%user_lastname%" /></td>
                </tr><tr>
                    <td><span>Epost</span></td>
                    <td><input type="text" name="email" value="%user_email%" /></td>
                </tr><tr>
                    <td></td>
                    <td><button name="type" value="profile">Lagre</button></td>
                </tr>
            </tbody>
        </table></form>
        <h2>Innstillinger</h2>
        <form action="" method="POST"><table>
            <tbody>
                <tr>
                    <td>Vis meg som anonym når jeg er aktiv et sted &nbsp; </td>
                    <td><input type="checkbox" name="anonymous_active" %checked_anonymous_active% /></td>
                </tr><tr>
                    <td colspan=2><button name="type" value="settings">Oppdater</button></td>
                </tr>
            </tbody>
        </table></form>
    </div>
</div>