<div id="content" class="profile">
    <div class="profile_menu">
        <ul>
            <li><a href="/%pname_profile_view%.html"><i class="fa fa-user"></i><span>Min profil</span></a></li>
            <li><a href="/%pname_profile_update%.html"><i class="fa fa-edit"></i><span>Endre profil</span></a></li>
            <li><a href="/%pname_profile_settings%.html"><i class="fa fa-gear"></i><span>Innstillinger</span></a></li>
            <li><a href="/?logout"><i class="fa fa-unlock"></i><span>Logg ut</span></a></li>
        </ul>
    </div><div class="profile_content">
        <h2>Min profil</h2>
        <table>
            <tbody>
                <tr>
                    <td><span>Score</span></td>
                    <td>120</td>
                </tr><tr>
                    <td><span>Ble medlem</span></td>
                    <td>%user_registered%</td>
                </tr><tr>
                    <td><span>Brukernavn</span></td>
                    <td>%user_username%</td>
                </tr><tr>
                    <td><span>Fornavn</span></td>
                    <td>%user_firstname%</td>
                </tr><tr>
                    <td><span>Etternavn</span></td>
                    <td>%user_lastname%</td>
                </tr><tr>
                    <td><span>Epost</span></td>
                    <td>%user_email%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
