/*
/*/

!/admin
/admin/*
!/admin/classes
/admin/classes/*
!/admin/classes/getmoving
!/admin/classes/getmoving/*
!/admin/classes/getmoving-beta
!/admin/classes/getmoving-beta/*

!/api/
!/clients/
/clients/getmoving/addons
/clients/getmoving-beta/addons

!/README.md
!/.gitignore