* {margin: 0; padding: 0; border: 0;}

body{
    font-family: SofiaProMedium;
}

h1, h2, h3{
    font-family: SofiaProBold;
}

#wrap{
    
}

/* Header */
#head{
    position: relative;
    display: block;
    height: 80px;
    box-shadow: 0px 0px 2px 0px #999;
    z-index: 3;
}

#head img{
    height: 80px;
    display: inline-block;
    vertical-align: top;
}

#head ul{
    display: inline-block;
    vertical-align: top;
    float: right;
    padding-right: 20px;
}

#head ul li{
    display: inline-block;
    padding: 0 20px;
}

#head ul li a{
    display: block;
    line-height: 80px;
}

/* Sidebar */

#sidebar{
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: calc(100vh - 80px);
    top: 0;
    margin-top: 80px;
    z-index: 2;
    left: -210px;
    transition: left 0.2s linear;
    box-shadow: 0 0 5px #444;
}
#sidebar:hover{
    left: 0;
    transition: left 0.3s ease-in-out;
}

#sidebar h2{
    text-align: left;
    padding: 10px 19px;
    line-height: 34px;
}
#sidebar h2 i{
    float: right;
    line-height: 34px;
}

#sidebar img{
    display: block;
    width: 200px;
    margin: 20px;
    margin-top: 30px;
}

#sidebar ul{
    list-style-type: none;
}
#sidebar ul li{
    display: block;
}
#sidebar ul li input, #sidebar ul li select, #sidebar ul li a{
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 7px 5px;
    margin-bottom: 20px;
    
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

#sidebar ul li input{
    border: 1px solid #9e9e9e;
    border-radius: 2px;
}

#sidebar ul li select{
    border: 1px solid #9e9e9e;
    border-radius: 2px;
    text-align: left;
}

#sidebar ul li a{
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 0.1s linear;
}
#sidebar ul li a:hover{
    background-color: #9e9e9e;
}

#content{
    display: block;
    position: relative;
}

/* General content */

#content.text{
    margin: 0 auto;
    width: 70%;
}

/* Map */

#map{
    height: calc(100vh - 80px);
    z-index: 1;
}

/* About us */

#content.about{
    padding: 10px;
}

#content.about #employees{
    margin-top: 1em;
}

#content.about #employees h2{
    margin-bottom: 5px;
}

#content.about #employees .employee{
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    vertical-align: top;
}
#content.about #employees .employee:first-of-type{padding-left: 0;}
#content.about #employees .employee:last-of-type{padding-right: 0;}

#content.about #employees .employee img{
    display: block;
    width: 150px;
    margin: 0 auto;
}

#content.about #employees .employee h2{
    
}
#content.about #employees .employee h3{
    line-height: 20px;
}

#content.about #employees .employee #role{
    margin-top: 8px;
}