<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>%page_title%</title>
    
    <link rel="stylesheet" href="%template_url%styles/main.css" />
</head>
<body>
<div id="menu_wrap"><div id="menu">
    <img src="%static_url%imgs/logo/gm-logo-1.png" alt="Get Moving Logo">
    <ul>
        <li><a href="#beta">Beta</a></li>
        <li><a href="#about">Om oss</a></li>
    </ul>
</div></div>
<div id="content">
    <div id="slides" class="section"><div>
        <h2>VELKOMMEN TIL GET MOVING</h2>
        <p>Get Moving er en tjeneste som gjør det enklere å trene og ha det gøy med andre i nærheten.</p>
        <div id="buttons">
            <!--<a href="https://beta.get-moving.no/login.html" class="red-bg button">Registrer deg i åpen beta!</a>-->
            <a href="#howto" class="red-bg button">Hvordan fungerer det?</a>
        </div>
    </div></div>
    <div id="beta" class="section"><div>
        <h1>Beta</h1>
        <div class="split percent60">
            <p>Den 24. januar klokken 17:00 slipper vi en betaversjon av tjenesten!</p>
            <p>I beta-stadiet ønsker vi å kunne teste tjenesten og ha en spesielt stor kontakt med brukerne for å tilpasse tjenesten etter deres behov.</p>
        </div><div class="split percent40">
            <div id="countdown">
                <table>
                    <tbody>
                        <tr><td class="days"></td><td class="hours"></td><td class="minutes"></td><td class="seconds"></td></tr>
                        <tr><th>Dager</th><th>Timer</th><th>Minutter</th><th>Sekunder</th></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div></div>
    <div id="ease-of-use" class="section"><div>
        <div class="split percent60">
            <img src="%static_url%imgs/monitor_phone_demo-site.png" alt="Skjermbilde fra tjenesten på desktop og mobil" />
        </div><div class="split percent40">
            <h1>Enkel å bruke</h1>
            <p>Nettsiden er laget for å fungere så bra som mulig på både telefon, nettbrett og datamaskin.</p>
            <p>Vi har også et stort fokus på å gjøre siden så enkel som mulig å bruke for alle.</p>
        </div>
    </div></div>
    <div id="howto" class="section"><div>
        <h1>Hvordan bruker man tjenesten?</h1>
        <p>Nettsiden er bygd for å gjøre det så enkelt som mulig å registrere hvor du er kjapt. 
        For å oppnå dette har vi satt opp en del arenaer som du kan trykke på for å vise informasjon om arenaen.</p>
        <h3>Rask guide</h3>
        <ol>
            <li>Logg inn/registrer deg med epost eller facebook</li>
            <li>Finn fram hvor du er på kartet (la gjerne nettsiden se posisjonen din, så zoomer den automatisk inn dit du er)</li>
            <li>Klikk på pin'en</li>
            <li>Sjekk om det er noen andre der</li>
            <li>Klikk på linken for at du er der eller kommer til å være der, fyll inn tidspunktene og lagre</li>
        </ol>
    </div></div>
    <div id="about" class="section"><div>
        <h1>Get Moving</h1>
        <p>Get Moving er en ungdomsbedrift fra Nydalen VGS som har som mål å få flere barn og unge ut i aktivitet.</p>
        <p>Bedriften består av 5 elever som alle har følt på behovet for en slik tjeneste.</p>
        <p>Kontakt: <a href="mailto:getmovingub@gmail.com">getmovingub@gmail.com</a></p>
        <div id="teamet">
            <div class="employee">
                <img src="" alt="Ole Jakob Dahl - daglig leder" />
                <h2>Ole Jakob Dahl</h2>
                <p>Daglig leder</p>
            </div><div class="employee">
                <img src="" alt="Nivethan Senthurvasan" />
                <h2>Nivethan Senthurvasan</h2>
                <p>Markedsføring</p>
            </div><div class="employee">
                <img src="%static_url%imgs/employees/profil_jonatan.jpg" alt="Jonatan Norbye" />
                <h2>Jonatan Norbye</h2>
                <p>Økonomi</p>
                <p>Nettsideutvikler</p>
            </div><div class="employee">
                <img src="" alt="Simen Flock Hogstad" />
                <h2>Simen Flock Hogstad</h2>
                <p>Personal</p>
            </div><div class="employee">
                <img src="" alt="Mattias Lund Dahlin" />
                <h2>Mattias Lund Dahlin</h2>
                <p>Produktutvikling</p>
            </div>
        </div>
    </div>
</div>

<script src="%template_url%scripts/main.js"></script>
<script src="%template_url%scripts/clock.js"></script>
</body>
</html>