<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>%page_title%</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="%static_url%imgs/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="%static_url%imgs/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="%static_url%imgs/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="%static_url%imgs/favicon/manifest.json">
    <link rel="mask-icon" href="%static_url%imgs/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="%static_url%imgs/favicon/favicon.ico">
    <meta name="msapplication-config" content="%static_url%imgs/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- My Styles -->
    <link rel="stylesheet" href="%template_url%styles/main.css" />
    <link rel="stylesheet" href="%template_url%styles/phone.css">
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49008859-4', 'auto');
      ga('send', 'pageview');

    </script>
</head>
<body>
<div id="menu_wrap"><div id="menu">
    <img src="%static_url%imgs/logo/gm-logo-1.png" alt="Get Moving Logo" onclick="window.location.href = '/';">
    <ul>
        <li><a href="#beta">Beta</a></li>
        <li><a href="#about">Om oss</a></li>
    </ul>
</div></div>
<div id="content">
    <div id="slides" class="section"><div>
        <h2>VELKOMMEN TIL GET MOVING</h2>
        <p>Get Moving er en tjeneste som gjør det enklere å trene og ha det gøy med andre i nærheten.</p>
        <div id="buttons">
            <a href="https://beta.get-moving.no/login.html" class="red-bg button">Registrer deg i åpen beta!</a>
            <a href="#howto" class="red-bg button">Hvordan fungerer det?</a>
        </div>
    </div></div>
    <div id="beta" class="section"><div>
        <h1>Beta</h1>
        <div>
            <p>Den 24. januar slapp vi en betaversjon av tjenesten!</p>
            <p>I beta-stadiet ønsker vi å kunne teste tjenesten og ha en spesielt stor kontakt med brukerne for å tilpasse tjenesten etter deres behov.</p>
        <p>Vi setter veldig stor pris på de som ønsker å delta på veien fram mot en et ferdig produkt. Om du ønsker å bli med på veien, registrer deg gratis på <a href="https://beta.get-moving.no/login.html">beta.get-moving.no</a></p>
        </div>
    </div></div>
    <div id="ease-of-use" class="section"><div>
        <div class="split percent60 image">
            <img src="%static_url%imgs/monitor_phone_demo-site.png" alt="Skjermbilde fra tjenesten på desktop og mobil" />
        </div><div class="split percent40 text">
            <h1>Enkel å bruke</h1>
            <p>Nettsiden er laget for å fungere så bra som mulig på både telefon, nettbrett og datamaskin.</p>
            <p>Vi har også et stort fokus på å gjøre siden så enkel som mulig å bruke for alle.</p>
        </div>
    </div></div>
    <div id="howto" class="section"><div>
        <h1>Hvordan bruker man tjenesten?</h1>
        <p>Nettsiden er bygd for å gjøre det så enkelt som mulig å registrere hvor du er kjapt. 
        For å oppnå dette har vi satt opp en del arenaer som du kan trykke på for å vise informasjon om arenaen.</p>
        <h3>Rask guide</h3>
        <ol>
            <li>Logg inn/registrer deg med epost eller facebook</li>
            <li>Finn fram hvor du er på kartet (la gjerne nettsiden se posisjonen din, så zoomer den automatisk inn dit du er)</li>
            <li>Klikk på pin'en</li>
            <li>Sjekk om det er noen andre der</li>
            <li>Klikk på linken for at du er der eller kommer til å være der, fyll inn tidspunktene og lagre</li>
        </ol>
    </div></div>
    <div id="about" class="section"><div>
        <h1>Get Moving UB</h1>
        <p>Get Moving UB er en ungdomsbedrift fra Nydalen VGS som har som mål å få flere barn og unge ut i aktivitet.</p>
        <p>Bedriftens 5 medlemmer har alle følt på behovet for en slik tjeneste, og jobber nå aktivt for å lage den og få den ut på markedet.</p>
        <p>Kontakt: <a href="mailto:getmovingub@gmail.com">getmovingub@gmail.com</a></p>
        <div id="teamet">
            <div class="employee">
                <img src="%static_url%imgs/employees/profil_ole_jakob.jpg" alt="Ole Jakob Dahl - daglig leder" />
                <h3 class="name">Ole Jakob</h3>
                <h2 class="surname">Dahl</h2>
                <p class="responsibility">Daglig leder</p>
            </div><div class="employee">
                <img src="%static_url%imgs/employees/profil_nivethan.jpg" alt="Nivethan Senthurvasan" />
                <h3 class="name">Nivethan</h3>
                <h2 class="surname">Senthurvasan</h2>
                <p class="responsibility">Markedsføring</p>
            </div><div class="employee">
                <img src="%static_url%imgs/employees/profil_jonatan.jpg" alt="Jonatan Norbye" />
                <h3 class="name">Jonatan</h3>
                <h2 class="surname">Norbye</h2>
                <p class="responsibility">Økonomi</p>
                <p class="responsibility">Nettsideutvikler</p>
            </div><div class="employee">
                <img src="%static_url%imgs/employees/missing_image.jpg" alt="Simen Flock Hogstad" />
                <h3 class="name">Simen</h3>
                <h2 class="surname">Flock Hogstad</h2>
                <p class="responsibility">Personal</p>
            </div><div class="employee">
                <img src="%static_url%imgs/employees/profil_mattias.jpg" alt="Mattias Lund Dahlin" />
                <h3 class="name">Mattias</h3>
                <h2 class="surname">Lund Dahlin</h2>
                <p class="responsibility">Produktutvikling</p>
            </div>
        </div>
    </div>
</div>

<script src="%template_url%scripts/main.js"></script>
</body>
</html>