<div id="content">
    <div id="map"></div>
</div>
<div id="sidebar" style="left: 0;">
    <h2>Filter <i class="fa fa-filter"></i></h2>
    <ul>
        <li><input type="text" id="search" placeholder="Søk..."></li>
        <li><select id="activity">
            <option value="0">Alle aktiviteter</option>
            <option value="1">Basketball</option>
            <option value="2">Ishockey</option>
            <option value="3">Volleyball</option>
            <option value="4">Fotball</option>
        </select></li>
        <li><select id="area">
            <option value="0">Alle områder</option>
            <option value="1">Nordberg</option>
            <option value="2">Grünerløkka</option>
            <option value="3">Voldsløkka</option>
        </select></li>
    </ul>
</div>
<script>

setTimeout(function(){
    document.getElementById("sidebar").removeAttribute("style");
}, 5000);

</script>