<div id="content">
    <div id="map"></div>
</div>
<div id="sidebar" style="left: 0;">
    <h2>Filter <i class="fa fa-filter"></i></h2>
    <ul>
        <li><input type="text" id="search" placeholder="Søk..." disabled></li>
        <li><select id="activity">
            <option value="0">Alle aktiviteter</option>
            <!-- for %activities% --><option value="%activity_id%">%activity_name%</option><!-- endfor -->
        </select></li>
        <li><select id="area">
            <option value="0">Alle områder</option>
            <!-- for %areas% --><option value="%area_id%">%area_name%</option><!-- endfor -->
        </select></li>
    </ul>
    <h2>Innstillinger</h2>
    <ul>
        <li><select id="updateMapType">
            <option value="roadmap">-- Velg karttype --</option>
            <option value="roadmap">Normalt veikart</option>
            <option value="satellite">Satellitt</option>
            <option value="hybrid">Hybrid</option>
            <option value="terrain">Terreng</option>
        </select></li>
    </ul>
</div>
<script>

setTimeout(function(){
    document.getElementById("sidebar").removeAttribute("style");
}, 5000);

</script>
<script>var static_url = '%static_url%'; var coordinates = '59.929904118285846,10.754928588867188';</script>
<script>
    var markers = [<!-- for %locations% -->{position: [%location_lat%, %location_lng%],type: '%location_type%',name: '%location_name%', description: '%location_description%', active_users: '3', marker: null, activities: [%location_activities%], areas: [%location_areas%]}%location_separator%<!-- endfor -->];
</script>
<script src="%template_url%scripts/map.js"></script>
<script src="%template_url%scripts/filter.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsg64wU0YFosLDXIGRlI5TgTw3sCl1tqE&amp;callback=initMap" async="" defer=""></script>