<div id="sidebar">
    <img src="%static_url%imgs/Get Moving FB profilbilde - cut 1.png">
    <div id="phone_menu"></div>
    <ul>
        <li><a href="/">Kart</a></li>
        <li><a href="#">Min profil</a></li>
        <li class="bottom"><a href="/%pname_about%.html">Om Oss</a></li></li>
    </ul>
</div>
<div id="content" class="about"><script>console.log($(window).height() + " " + $(window).width());</script>
    <h1>Om Oss</h1>
    <p>Vi er en ungdomsbedrift blablabla</p>
    <p>Forretningsidé: </p>
    <div id="employees">
        <h2>Teamet</h2>
        <div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h2>Ole Jakob</h2>
            <h3>Dahl</h3>
            <p id="role">Daglig leder</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h2>Nivethan</h2>
            <h3>Senturvasan</h3>
            <p id="role">Markedsføring</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h2>Jonatan</h2>
            <h3>Norbye</h3>
            <p id="role">Økonomi</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h2>Simen</h2>
            <h3>Flock Høgstad</h3>
            <p id="role">Personalansvarlig</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h2>Mattias</h2>
            <h3>Lund Dahlin</h3>
            <p id="role">Produktansvarlig</p>
        </div>
    </div>

</div>