<div id="content" class="text about">
    <h1>Om Oss</h1>
    <p>Vi er en ungdomsbedrift blablabla</p>
    <p>Forretningsidé: </p>
    <div id="employees">
        <h2>Teamet</h2>
        <div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Ole Jakob</h3>
            <h2>Dahl</h2>
            <p id="role">Daglig leder</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Nivethan</h3>
            <h2>Senturvasan</h2>
            <p id="role">Markedsføring</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Jonatan</h3>
            <h2>Norbye</h2>
            <p id="role">Økonomi</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Simen</h3>
            <h2>Flock Høgstad</h2>
            <p id="role">Personalansvarlig</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Mattias</h3>
            <h2>Lund Dahlin</h2>
            <p id="role">Produktansvarlig</p>
        </div>
    </div>

</div>