<div id="content" class="text login">
    <h1>Logg inn</h1>
    
    <a 
        href="https://www.facebook.com/dialog/oauth?client_id=553540261437395&redirect_uri=http://getmoving.norbye.com/-/facebook-signup/facebook_auth.php&scope=public_profile,email"
    >
        <i class="fa fa-facebook"></i>
        <span>Logg inn/registrer med facebook</span>
    </a>
    <div id="login_email">
        <p>Logg inn med e-post</p>
        <form action="" method="post">
            <input type="text" name="username" />
            <input type="password" name="pass" />
            <button>Logg inn</button>
        </form>
    </div>
    <div id="register_email">
        <p>Registrer med e-post</p>
        <form action="" method="post">
            <input type="text" name="username" />
            <input type="password" name="pass" />
            <input type="password2" name="pass" />
            <input type="text" name="firstname" />
            <input type="text" name="lastname" />
            <button>Registrer</button>
        </form>
    </div>

</div>