#wrap{
    display: block;
}

/* Header */

#head{
    height: initial;
}

#head img{
    width: 50%;
    max-width: 300px;
    height: initial;
}

#head ul{
    display: inline-block;
    float: none;
}

#head ul li{
    display: inline-block;
    padding: 0 5px;
}

#head ul li a{
    line-height: 40px;
}

/* Sidebar */

#sidebar{
    display: none;
    position: absolute;
    width: 100vw;
}

/* Map */

#map{
    height: calc(100vh - 80px);
    z-index: 1;
}

/* General content */

#content.text{
    margin: 0 5px;
    width: initial;
}

/* About us */

#content.about{
    padding: 5px;
    padding-top: 10px;
}

#content.about #employees{
    
}

#content.about #employees > h2{
    margin-bottom: 5px;
}

#content.about #employees .employee{
    padding: 0 1%;
    vertical-align: top;
    margin-bottom: 10px;
    width: 48%;
}
#content.about #employees .employee:first-of-type{padding-left: 1%;}
#content.about #employees .employee:last-of-type{padding-right: 1%;}

#content.about #employees .employee img{
    width: 100%;
}

#content.about #employees .employee h3{
    line-height: 20px;
    margin-top: 5px;
}
#content.about #employees .employee h2{
    margin-top: 5px;
}

#content.about #employees .employee #role{
    margin-top: 8px;
}

/* Login */

#content.login .fb-login{
    display: block;
    width: initial;
    padding-top: 10px;
    padding-bottom: 30px;
}

#content.login .email{
    width: initial;
    display: block;
    text-align: center;
}

#content.login .email form input{
    margin-left: auto;
    margin-right: auto;
}

#content.login .email .login{
    display: block;
    width: initial;
}


#content.login .email .register{
    display: block;
    width: initial;
}

/* Remove blue background on click */
/*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}