<div id="content" class="knowledgebase smallpage">
    <h1>Kunnskapsbase</h1>
    <p>Her kommer vi til å legge ut diverse artikler om hvordan siden brukes, og utvalgte spørsmål fra våre brukere.</p>
    
    <div class="article">
        <h2>Kort intro til nettsiden</h2>
        <p>Get Moving er en tjeneste som skal gjøre det enklere å komme seg ut og ha det gøy med andre.</p>
        <p>Det vanligste eksempelet vi har er basket, siden det er det ideen kommer fra.<br>
        Om du vil ut og spille basket og ikke har 
        mange nok å spille med kan du oppdatere nettsiden, så kan de i nærområdet som har lyst til å bli med slenge seg på.</p>
        <p>Du sier ifra hvor du er med å trykke på en pin, videre til "jeg er her" eller "jeg skal hit", for så å skrive inn når du er/skal være der. Så fort du trykker på lagre kan andre brukere se det.</p>
        <h3>Tegn</h3>
        <p class="iconimg"><img src="%static_url%imgs/map/pin v2.active.min.png" style="width: 20px;" /> Betyr at det er minst én aktiv bruker der</p>
        <p class="iconimg"><img src="%static_url%imgs/map/pin v2.inactive.min.png" style="width: 20px;" /> Betyr at det ikke er noen aktive brukere der</p>
    </div>
</div>