<div id="content" class="knowledgebase smallpage">
    <h1>Om oss</h1>
    <p>Her kommer vi til å legge ut diverse artikler om hvordan siden brukes, og utvalgte spørsmål fra våre brukere.</p>
    
    <div class="article">
        <h2>Kort intro til nettsiden</h2>
        <p>For øyeblikket er vi i beta, og har derfor begrenset oss til bydel Nordre Aker, for å se hvor bra tjenesten fungerer.<br/>
        Vi vil forhåpentligvis snart ha muligheten til å utvide, så om du har et sted du vil ha lagt til når det skjer si gjerne ifra.<br/> 
        Om du har funnet en feil, ønsker en forandring eller vil få laget en ny pin, kontakt oss og vi oppdaterer kartet.</p>
        <div class="split">
            <p class="percent40"><b>Vårt mål</b><br/>Gjøre det enklere for deg å komme ut i aktivitet med andre.</p>
            <p class="percent60"><b>Hvordan vi skal gjøre det</b><br/>lage en nettside hvor du kan si ifra om du vil drive med aktivitet, så andre kan se hvor du skal bli med.</p>
        </div>
        <!--<p>Eksempel: <br>
        Om du vil ut og spille basket og ikke har 
        mange nok å spille med kan du gå inn på nettsiden, så kan de i nærområdet som har lyst til å bli med slenge seg på.</p>-->
        <h2>Hvordan du gjør det</h2>
        <div class="split vertical-center">
            <div class="percent40 left">
                <img src="%static_url%imgs/knowledgebase/intro/menu_screen.png" alt="Bilde av meny, fokus på login" />
            </div>
            <div class="percent60 right"><p>1. Gå til innlogginssiden</p></div>
        </div>
        <div class="split vertical-center">
            <div class="percent40 right">
                <img src="%static_url%imgs/knowledgebase/intro/login_screen.png" alt="Bilde av login-siden" />
            </div>
            <div class="percent60 left"><p>2. Logg inn med facebook eller brukernavn og epost</p></div>
        </div>
        <div class="split vertical-center">
            <div class="percent40 left">
                <img src="%static_url%imgs/knowledgebase/intro/pin_screen.png" alt="Bilde av skjerm med pin" />
            </div>
            <div class="percent60 right"><p>3. Velg pin'en der du er/kommer til å være, og trykk på en av linkene, avhengig av om du allerede er der eller ikke</p></div>
        </div>
        <div class="split vertical-center">
            <div class="percent40 right">
                <img src="%static_url%imgs/knowledgebase/intro/timepicker_screen.png" alt="Bilde av tidsvelger" />
            </div>
            <div class="percent60 left"><p>4. Velg hvor lenge du blir (og tidspunkt du kommer)</p></div>
        </div>
        <div class="split vertical-center">
            <div class="percent40 left">
                <img src="%static_url%imgs/knowledgebase/intro/pin_active_screen.png" alt="Bilde av kart med aktiv pin" />
            </div>
            <div class="percent60 right"><p>5. Kartet er nå oppdatert!</p></div>
        </div>
        
        <h3>Tegn</h3>
        <p class="iconimg"><img src="%static_url%imgs/map/pin v2.active.min.png" style="width: 20px;" /><span>Betyr at det er minst én aktiv bruker der</span></p>
        <p class="iconimg"><img src="%static_url%imgs/map/pin v2.inactive.min.png" style="width: 20px;" /><span>Betyr at det ikke er noen aktive brukere der</span></p>
    </div>
</div>