<div id="content" class="text about">
    <h1>Om Oss</h1>
    <p>Vi er en ungdomsbedrift på Nydalen Videregående Skole som jobber for å få barn og ungdom ut i aktivitet.</p>
    
    <h3 style="margin-top: 10px;">Forretningsidé</h3>
    <p>Get Moving UB er en tjenesteplattform for barn og unge fortrinnsvis i Oslo. <br>
    Plattformen har til hensikt å hjelpe målgruppen å finne andre i nærområdet for å drive med fysiske og sosiale aktiviteter. </p>
    <div id="employees">
        <h2>Teamet</h2>
        <div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Ole Jakob</h3>
            <h2>Dahl</h2>
            <p id="role">Daglig leder</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Nivethan</h3>
            <h2>Senturvasan</h2>
            <p id="role">Markedsføring</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Jonatan</h3>
            <h2>Norbye</h2>
            <p id="role">Økonomi</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Simen</h3>
            <h2>Flock Høgstad</h2>
            <p id="role">Personal</p>
        </div><div class="employee">
            <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="Profilbilde" />
            <h3>Mattias</h3>
            <h2>Lund Dahlin</h2>
            <p id="role">Produkt</p>
        </div>
    </div>
    <div class="madeby">
        <p>Nettside laget av <a href="//norbye.com">norbye.com</a>, kontakt <a href="mailto:jonatan@norbye.com">jonatan@norbye.com</a></p>
    </div>
</div>