<div id="head">
    <a href="/"><img src="%static_url%imgs/Get Moving FB profilbilde - cut 1.png" alt="" /></a>
    <ul>
        <li><a href="/">Kart</a></li>
        <li><a href="/%pname_contact%.html">Kontakt</a></li>
        <li><a href="/%pname_knowledgebase%.html">Om oss</a></li>
        <li><a href="/%pname_profile_view%.html">Min profil</a></li>
        <ul>
            <li><a href="/%pname_profile_settings%.html">Innstillinger</a></li>
            <li><a href="/?logout">Logg ut</a></li>
        </ul>
    </ul>
</div>

<div id="wrap">